@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(216, 216, 248, 0.767);   
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-size: 20px;
}

.container {
    background: linear-gradient(rgba(214, 221, 241, 0.8), rgba(214, 221, 241, 0.8)), url('./Photo.jpg');
    color: rgb(37, 8, 165);
    min-height: 100vh;
    max-width: 800px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.container h1, .input-area {
    padding: 20px;
}

/* Input Area */
.input-area {
    display: flex;
    justify-content: center;
    width: 100%; 
    max-width: 600px; 
    margin: 0 auto; 
}

#task-input {
    width: 70%;
    height: 30px;
    border: none;
    border: 1px solid rgb(147, 163, 253);
    border-radius: 4px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: padding-top 0.2s ease, margin-top 0.2s ease;
}

#task-input:focus {
    outline: none;
    border-bottom: 4px solid rgba(147, 163, 253, 0.705);
    border-left: none;
    border-right: none;
    border-top: none;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

#add-button {
    border: none;
    border-radius: 4px;
    background-color:  rgb(147, 163, 253);
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    width: 40px;
    height: 30px;
}

#add-button:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
    background-color:  rgb(122, 142, 250);
}

/* Task Area */
.task-area {
    border-radius: 4px;
    width: 80%;
}

.task-tabs {
    display: flex;
    border-bottom: 1px solid rgb(17, 52, 255);
    position: relative;
    margin-bottom: 25px;
}

.task-tabs > div {
    cursor: pointer;
    padding: 14px;
}

/* Underline for Tabs */
#under-line {
    height: 4px;
    background-color: rgb(132, 160, 252);
    position: absolute;
    width: 53px;
    left: 0px;
    top: 54px;
    transition: 0.5s;
    padding: 0px;   
}

/* Task Item */
.task {
    display: flex;           
    justify-content: space-between;
    border-bottom: 1px solid rgb(147, 163, 253);
    padding: 10px;
}

.task-done > div:first-child {
    text-decoration: line-through;
}

.task-done {
   background-color: rgba(147, 163, 253, 0.418);
   border-radius: 2px;
}

.task div {
    display: flex;
    align-items: center;
}

.task button {
    background: none;
    border: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.task button i {
    font-size: 27px;
}

.check {
    color: rgb(106, 128, 250);
}

.task button:active {
    transform: scale(0.95);
    box-shadow: rgba(0, 0, 0, 0.15) 0 2px 4px 0;
}

.task button:hover {
    background: linear-gradient(45deg, rgb(250, 251, 252), rgb(215, 219, 241));
    border-radius: 8px;
}

.delete {
    color: rgb(199, 55, 55);
}




